# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Libraries
*.lib
*.a
*.lai
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

# Precompiled Headers
*.gch
*.pch

*~
*.bak
*.diff
*#
*.zip
bstrlib.txt
build
cmark.dSYM/*
cmark

.,*
